<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Suite">
 <listeners>
  <listener class-name="com.telstra.listners.TestListeners"/> 
</listeners>

<test thread-count="1" name="Firefox Test">
    <classes>
       <class name="com.telstra.testcases.FlipkartHomePageTests"/>
      <parameter name="browser" value="Firefox"></parameter>
       </classes>
  </test> 
  
  <test thread-count="1" name="Chrome Test">
 
    <classes>
      <class name="com.telstra.testcases.FlipkartHomePageTests"/>
      <parameter name="browser" value="Chrome"></parameter>
    </classes>
  </test> 
  
  <test thread-count="1" name="IE Test">
 
    <classes>
      <class name="com.telstra.testcases.FlipkartHomePageTests"/>
      <parameter name="browser" value="IE"></parameter>
    </classes>
  </test> 
  
</suite>
